#nosotros {
    background: rgb(79,28,15);
    background: linear-gradient(91deg, rgba(79,28,15,1) 1%, rgba(118,77,65,1) 21%, rgba(130,92,81,1) 58%, rgba(79,28,15,1) 100%);
    color: #cfd4d2;
    padding-top: 60px;
    overflow: hidden; 
    font-weight: bold; 
}

#nosotros h2 {
    color: #cfd4d2;
    font-size: 2rem;
    opacity: 0; 
    transform: translateY(20px);
    animation: slide-up 1s forwards 0.5s; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
    font-weight: bold; 
}

#nosotros p {
    color: #cfd4d2;
    font-size: 1.3rem;
    margin-bottom: 15px;
    opacity: 0; 
    transform: translateY(20px);
    animation: slide-up 1s forwards 0.7s; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

#nosotros .col-lg-4 {
    text-align: center;
    margin-bottom: 40px;
    opacity: 0; 
    transform: translateY(20px); 
    animation: slide-up 1s forwards 0.9s; 
}

#nosotros .fa-5x {
    font-size: 3rem; 
    color: #361219;
    margin-bottom: 15px;
    transition: transform 0.3s ease, color 0.3s ease; 
    animation: pulse 2s ease-in-out infinite; 
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#nosotros .fa-5x:hover {
    color: #d39797; 
    transform: scale(1.3); 
}



#nosotros h4 {
    font-size: 1rem;
    font-weight: normal; 
    color: #cfd4d2; 
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

@media (max-width: 768px) {
    #nosotros .col-lg-4 {
        margin-bottom: 30px;
    }
    #nosotros .fa-5x {
        font-size: 2rem;
    }
    #nosotros h4 {
        font-size: 1rem;
    }
}

@keyframes slide-up {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
