body {
    background: rgb(79,28,15);
    background: linear-gradient(91deg, rgba(79,28,15,1) 1%, rgba(118,77,65,1) 21%, rgba(130,92,81,1) 58%, rgba(79,28,15,1) 100%);
    min-height: 100vh;
}

main {
    flex: 1;
}

.page-title h2 {
    color: #cfd4d2ee;
    text-shadow: 2px 2px 4px rgba(99, 16, 16, 0.5);
    font-size: 2.0rem;
    margin-top: 30px; 
    font-weight: bold;
    text-align: center;
}

.carousel {
    margin: 20px auto 60px auto; 
    width: 100%;
    max-width: 1200px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(109, 14, 14, 0.452);
}
.carousel-inner img {
    width: 100%;
    height: 400px; 
    object-fit: cover; 
    border-radius: 10px;
}

.carousel-caption {
    background-color: rgba(71, 26, 26, 0.6);
    padding: 20px;
    border-radius: 10px;
    bottom: 20px;
}

.carousel-caption h5 {
    font-size: 24px;
    font-weight: 700;
    color: #cfd4d2ee;
    
}

.carousel-caption p {
    font-size: 16px;
    color: #d3d3d3;
    font-weight: normal; 

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(43, 8, 8, 0.5);
    border-radius: 50%;
}

.carousel-indicators [data-bs-target] {
    background-color: #1b1010;
}

.carousel-indicators .active {
    background-color: #d3d3d3;
}

.more-info {
    display: none;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
}

.more-info.active {
    display: block;
    max-height: 200px; 
    font-weight: normal; 

}

@media (max-width: 767px) {
    .carousel-caption {
        bottom: auto;
        top: 170px;
        background-color: rgba(0, 0, 0, 0.6);
    }
    
    .carousel-caption h5 {
        font-size: 18px;
    }

    .carousel-caption p {
        font-size: 14px;
    }
}

.btn-sm {
    font-size: 14px; 
    padding: 8px 12px; 
    background-color: #361219 !important;  
    color: #d3d3d3; 
    border: none;
    border-radius: 5px;
    outline: none;
}

.btn-sm:hover {
    background-color: #6b0519; 
}

.btn-sm:active {
    background-color: #6b0519 !important; 
    color: #d3d3d3; 
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 30px;
    height: 30px; 
    background-color: #361219;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
    font-size: 20px; 
    color: #ffffff;
}

.page-title, .carousel {
    animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

