{% include 'base.html' %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/historia.css' %}" />
{% endblock %}
{% block title %}
  <title>Historia - Escuela Secundaria Técnica 26 "Huamantla 450"</title>
{% endblock %}
{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center mb-4 history-title">Escuela Secundaria Técnica 26 "Huamantla 450"</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <img id="historia-img" src="{% static 'img/historia1.png' %}" class="img-fluid rounded animate-img" alt="historia" />
      </div>
      <div class="col-lg-6">
        <div class="history-content animate-text">
          <p>En 1984, Huamantla necesitaba una escuela más de nivel medio con enfoque en tecnología. Después de varias conversaciones, la escuela fue autorizada y comenzó a funcionar en julio de ese año.</p>
          <p>La escuela comenzó con 3 aulas, un laboratorio y un personal inicial de 7 profesores y 2 empleados administrativos. La primera inscripción fue de 113 estudiantes, divididos en dos grupos. A lo largo de los años, la escuela ha crecido y se ha desarrollado, ofreciendo ahora 6 talleres diferentes y una variedad de actividades extracurriculares.</p>
          <p>Durante sus 40 años de funcionamiento, la escuela ha demostrado una educación de excelencia, proporcionando educación en áreas académicas y técnicas. Ha sido un pilar fundamental en la comunidad estudiantil y ha contribuido al desarrollo de la región.</p>
          <p>El nombre de la escuela "Huamantla 450" se debe a que fue fundada en el año del 450 aniversario de la fundación de la ciudad de Huamantla. En la actualidad, la escuela sigue creciendo y mejorando gracias al liderazgo del director Martín Flores López y el subdirector Ángel Robles Beristaín.</p>
        </div>
      </div>
    </div>
  </div>
  <br />
  {% include 'footer.html' %}

  <script src="{% static 'js/face.js' %}"></script>
  <script src=" {% static 'js/historia.js' %}"></script>
{% endblock %}
